@import "tailwindcss";
/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"); */

*{
    font-family: "Poppins";
    scroll-behavior: smooth;
}

 ::-webkit-scrollbar{
    width: 20px;
 }

 ::-webkit-scrollbar-track{
    background: rgba(0, 0, 0, 0.9);
 }

 ::-webkit-scrollbar-thumb{
    background: linear-gradient(to bottom, rgb(0, 62, 196), rgb(184, 0, 153));
 }










